<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price_paid %><br />
    <%= f.text_field :price_paid %>
  </div>
  <div class="field">
    <%= f.label :select_song %><br />
 <%= f.select :song_id, Song.all.map{|s| [s.name, s.id]} %>

  </div>
<div class="field">
    <%= f.label :select_user %><br />
 <%= f.select :user_id, User.all.map{|u| [u.name, u.id]} %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
