<% if !current_user %>
  <h1>Listing purchases</h1>
  <% else %>
  <h1>My purchases</h1>
<% end %>


<table>
  <tr>
    <th>Song name</th>
    <th>Purchased by</th>
    <th>Price Paid</th>
 
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>

    <% s=Song.find(purchase.song_id) %>
    <td><%= s.name %></td>
    
     <% u=User.find(purchase.user_id) %>
     <td><%= u.name %></td>
     
     <td><%= purchase.price_paid %></td>
  
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New purchase', new_purchase_path %>