<div class="songsheader">
  <!-- There will be two types of listings. One for the admin and guest, with ALL songs, and one for the logged in user, who will see all songs MINUS the ones they purchased -->

<% if !current_user || current_user.user_type == "A" %>
  <h1>Listing all songs</h1>
  <% else %>
  <h1>Songs I can purchase</h1>
<% end %>



  <table>
    <tr>
      <th>Name</th> 

      <th>Artist</th> 
       
      <th>Album</th> 
        <th>Price</th>
    
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </table>
</div>
    <div class="songs">
      <ul id="songs">
        <% @songs.each do |song| %>
          <span style="float: left;">
            <%= content_tag_for :li, song do %>
              <%= link_to song.name, "" %>
              <% song.artists.each do |a|%>
                <%= a.name %>
              <% end %>  
              <% song.albums.each do |a|%>
                <%= a.name %>
              <% end %>  
              <%= number_to_currency(song.price) %>
              <%= audio_tag song.audiofile, :controls => true %>
            <% end %>    
            <span class="btns">
              <%= link_to 'Show', song %>
              <% if can? :update, @song %>
                <%= link_to 'Edit', edit_song_path(song) %>
                <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
              <%= button_to 'Purchase', purchases_path(song_id: song), :class => "btn btn-mini btn-success" %>
            </span>
          </span>
        <% end %>
      </ul>
  <br />
  </div>

<%= link_to 'New song', new_song_path %>

