<p id="notice"><%= notice %></p>
<div class="songs">

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Album:</b>
  <%= @song.albums.map{|album| album.name}.join(", ") %>
</p>

<p>
  <b>Artist(s):</b>
    <%= @song.artists.map{|artist| artist.name}.join(", ") %>

</p>

<p>
  <b>Price:</b>
  <%= @song.price %>
</p>

<p>
  <b>Song file:</b>
  <%= @song.audiofile %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
</div>