<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </div>
   <div class="field">
    <%= f.label :year_released %><br />
    <%= f.text_field :year %>
  </div>
    <div class="field">
    <%= f.label :genre_select_one_or_more %><br />


  <ul>
    <% g = Genre.all%>
  <% g.each do |genre| %>
      <li>
        <%= check_box_tag 'genre_ids[]', genre.id %>
        <%= h genre.name %>
     
      </li>
  <% end %>
</ul>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
