<!DOCTYPE html>
<html>
<head>
  <title>Xtunes</title>
  <%= stylesheet_link_tag     "application", :media => "all" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <h1>The xTunes world</h1>
      <div class="user_header">
        <% if current_user %> <!-- this means that the user is logged in -->
          Logged in as <%= current_user.email %>, <%= current_user.user_type %>.
          <%= link_to "Log out", logout_path %>
        <% else %>
          <%= link_to "Sign up", signup_path %> or 
          <%= link_to "Log In", login_path %>
        <% end %>
      </div> <!-- user_header -->
    </div> <!-- header -->

    
        <div class="nav">
          <ul >
            <%= create_nav_item('Home', songs_path) %>
            <%= link_to('My List', purchases_path(current_user)) %>
            <%= create_nav_item('Purchase Songs', songs_path) %>
          </ul>
        </div> <!-- nav -->


    <% if can? :update, :all %> <!-- only show if I have managing role -->
        <div class="nav">
          <ul >
            <%= create_nav_item('Home', songs_path) %> |
            <%= create_nav_item('Manage Songs', songs_path) %> |
            <%= create_nav_item('Manage Genres', genres_path) %> |
            <%= create_nav_item('Manage Albums', albums_path) %> |
            <%= create_nav_item('Manage Artists', artists_path) %> |
            <%= link_to('My List', purchases_path(current_user)) %>
          </ul>
        </div> <!-- nav -->
    <% end %> <!-- end the if -->



    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <div class="span1">&nbsp;</div>
      <div class="span11"><%= yield %></div>
    </div> <!-- row -->
  </div> <!-- end container class -->
</body>
</html>
